body
{ 
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: "Roboto"; 
	background: #191919; 
	background: rgba(44,62,80,1); 
}
a {
	-webkit-transition: 0.2s; /* For Safari 3.1 to 6.0 */
    transition: 0.2s;
}
h1, h2, h3, h4, h5, a, p
{
	text-shadow: 0px 0px 0px rgba(150, 150, 150, 0);
	text-decoration: none !important;
}

/** leftPanel ***/
.leftPanelWrap {
	padding:3em 2em; 
	padding-top: 4em;
	height: auto;
	z-index: 10;
	text-align: left;
	background-image: url(static/images/bg.jpg); 
	background-size: cover;
	position: relative; 
}
.leftPanel {
	/*Not code yet */
}
.leftPanelMasks {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}
.leftPanel h1 {
	font-size: 4em;
	margin-bottom: 0;
	color: #fff;
	line-height: 1.1em;
	display: inline-block;
	text-shadow: 1px 1px 1px rgba(44,62,80, 1);
}
.leftPanel h2:before,
.leftPanel h2:after {
	content: "- ";
} 
.leftPanel h2 {
	font-size: 1.5em;
	margin-bottom:1.5em;
	color: rgba(255,0,0,0.3);
	color: rgba(255,255,255,0.9);
	line-height: 0em;
	display: inline-block;
	clear: both;
	text-shadow: 1px 1px 1px rgba(44,62,80, 1);
}
.leftPanel a {
	background: #00B16A;
	padding: 0.5em 1em;
	font-size: 1.3em;
	font-weight: bold;
	color: #fff !important;
	line-height: 0.1em; 
	clear: both;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-top: 1em;
}
.leftPanel a:hover {
	background: #00995c;
}
.leftPanel .separator {
	width: 100%;
	display: inline-block;
}
.leftPanel .openVideo {
	width: 180px;
	height: 100px;
	display: inline-block;
	clear: top;
	background: #fff; 
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/** rightPanel ***/
.rightPanelWrap {
	margin:2em;
	height: 400px;
	z-index: 10;
	text-align: left; 
}
.rightPanel {
	/*Not code yet */
}

/** middlePanel ***/
.middlePanelWrap {
	margin:2em; 
	padding: 0;
	z-index: 10;
	text-align: center;
}
.middlePanel {
	/*Not code yet */
}
.middlePanel ul {
	list-style: none;
}
.middlePanel ul li:first-child { 
	margin-left: -4px;
}
.middlePanel ul li:last-child { 
	margin-right: 0;
}
.middlePanel ul li {
	width: 35px;
	height: 35px;
	display: inline-block;
	background: rgba(255,255,255, 0.04);
	margin: 0;
	padding: 0; 
}

/** Masks ***/
.masks {
	width: 100%; 
	float: left;
 	display: none;
	z-index: 6;
	background: #2C3E50;
	background: transparent;
	display: inline-block;
}
.masks-Grid,
.masks-Solid,
.masks-Background {  
	width: 100%; 
	background: url(static/images/grid.png);
	opacity: 0.2;
	z-index: 3;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: -2;
}
.masks-Solid {  
	opacity: 1;
	background: rgba(0,0,0,0.9);
	background: rgba(44,62,80,0.8);
	z-index: -1;
}
.masks-Background {  
	background-size: cover;
}
 
/** Footer **/

.footer {
	padding: 2em; 
	border-top: 2px solid #2a639d;
	text-align: center; 
}
.footer p.copy { 
	color: rgba(255,255,255, 0.5);
	text-align: left;
	display: inline-block;
	margin: 0;
}
.footer .web_design { 
	color: rgba(255,255,255, 0.5);
	text-align: right;
	display: inline-block;
	margin-top: 1em;
}
.footer .web_design p { 
	color: rgba(255,255,255, 0.5);
	margin: 0;
	margin-bottom: 0.7em;
}
 
.footer .web_design a { 
	width: 200px;
	height: 40px;
	background: rgba(255,255,255,0.1);
	display: inline-block;
}
 

@media all and (min-width: 600px) {
	.leftPanel h1 {
		font-size: 5em; 
	}
	.leftPanel a { 
		padding: 20px 30px; 
	}
}
@media all and (min-width: 1000px) {

	.leftPanelMasks {
		display: none;
	}

	.masks {
		position: absolute; 
		top: 0;
		left: 0; 
		bottom: 0;
		right: 0; 
		margin: 0;
		padding: 0;
		border:0; 
	}

	/** leftPanel **/

	.leftPanelWrap {
		width: 350px;
		height: 400px;  
		left: 50px;
		top:  50%;
		margin-top: -200px;		
		position: absolute;
		padding: 0;
		background: transparent; 
	}
	.leftPanel h1 {
		font-size: 5em; 
		line-height: 1.05em;
		margin-top: 0em;
		margin-bottom: 0em;
	}
	.leftPanel h2 {
		font-size: 2em;
		line-height: 0em;
		display:inline-block;  
		margin-top: 16px;
		margin-bottom: 23px;
	}
	.leftPanel a {
		margin-top:0em; 
		font-size: 1.8em;
		padding: 35px 35px;
		display:inline-block;  
		box-shadow: 1px 1px 1px rgba(44,62,80, 1);
	}
	
	/** rightPanel **/
	
	.rightPanelWrap { 
		height: 400px; 
		left: 450px;
		right: 50px;
		top:  50%;
		margin:0;
		margin-top: -200px;		
		position: absolute; 
		background: rgba(44,62,80,0.9);
		box-shadow: 1px 1px 1px rgba(44,62,80, 1);
	}
	.middlePanelWrap { 
		position: absolute;
		bottom: 20px; 
		right: 0;
		left: 0; 
		z-index:11;
		margin: 0;
	}

	.masks {
		display: block;
	}

	/** Footer **/
	.footer {
		position: absolute;
		bottom: 2em;
		right: 50px;
		margin: 0;
		padding: 0;
		z-index: 13;
		border: 0;
	}
	.footer p.copy { 
		display: none;
	}
}



@media all and (min-width: 1450px) {

	.container {
		width: 1400px;
		height: 100%;
		margin: 0 auto;
		position: absolute; 
		left: 50%;
		margin-left: -700px;
	} 

}